<div id="container" ng-controller="addProductController as addCtrl" >
<form name="addProduct">
  <div class="form-group row">
    <label for="inputEmail3" class="col-sm-2 form-control-label">Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputEmail3" placeholder="Product Name" ng-model="addCtrl.product.name" required="true">
    </div>
  </div>
  <div class="form-group row">
    <label for="inputPassword3" class="col-sm-2 form-control-label">Manufactured By</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="inputPassword3" placeholder="Manufactured By" ng-model="addCtrl.product.by" required="true">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2">Radios</label>
    <div class="col-sm-10">
      <div class="radio">
        <label>
          <input type="radio" name="gridRadios" id="gridRadios1" value="YES" ng-model="addCtrl.product.inStock" ng-checked="true" ng-init="addCtrl.product.inStock='YES'">
         In Stock
        </label>
      </div>
      <div class="radio">
        <label>
          <input type="radio" name="gridRadios" id="gridRadios2" value="NO" ng-model="addCtrl.product.inStock">
         Out of Stock
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label class="col-sm-2">Offers</label>
    <div class="col-sm-10">
      <div class="checkbox">
        <label>
          <input type="checkbox" name="offer" ng-true-value="'YES'" ng-false-value="'NO'" ng-model="addCtrl.product.offers" ng-init="addCtrl.product.offers='NO'"> Offers 
        </label>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <div class="col-sm-offset-2 col-sm-10">
      <button type="submit" class="btn btn-secondary btn-success" ng-disabled="addProduct.$invalid" ng-click="addCtrl.addProduct()">Update</button>
    </div>
  </div>